<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Application Title</title>
  <meta name="description" content="Application description">
  <meta name="author" content="Sammer Aburumman">

  <meta property="og:title" content="Application Title">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sammer.xyz/application">
  <meta property="og:description" content="Application description">

  <link rel="stylesheet" href="/todo/styles.css" />
</head>

<body>
  {{{body}}}
  <script src="/todo/jquery.min.js"></script>
  <script src="/todo/script.js"></script>
</body>
</html>